.main {
    border: 3px solid rgb(32, 0, 128);
    color: rgb(68, 75, 72);
    padding: 20px;
    text-align: center;
    background-color: aquamarine;
    margin-left: 40px;
    margin-right: 40px;
    }